@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,400&display=swap");
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: center;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #111;
  scroll-behavior: smooth;
}

#app {
  width: 100%;
  height: 100%;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.title {
  position: fixed;
  left: 50px;
  top: 50px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  pointer-events: none;
}

.movie {
  f1ex: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 20vw;
  position: relative;
  left: 0;
  -webkit-transition: 0.5s, left 0s;
  transition: 0.5s, left 0s;
}

.cards.cartOpen {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.card {
  width: 484px;
  height: auto;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  margin: 80px;
  padding: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.card:hover .cover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.card .card-left .cover {
  width: 198px;
  height: 264px;
  margin-top: -50px;
  border-radius: 5px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card .card-right {
  margin-left: 10px;
  padding: 10px;
}

.card .card-right h2 {
  color: #444;
}

.card .card-right h4 {
  margin: 10px 0;
  font-weight: normal;
  opacity: 0.8;
}

.card .card-right p {
  margin: 10px 0;
  height: 95px;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: 0.2px;
  line-height: 1.3;
  color: #888;
  opacity: 0.8;
  min-height: 5em;
}

.card .card-right .price {
  display: inline-block;
  margin-right: 20px;
}

.card .card-right button {
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.9);
  background-color: #bbb;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card .card-right button:hover {
  color: white;
  background-color: #f95e5e;
}

.arrow-left {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: #bbb;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
}

.arrow-left.show {
  display: block;
}

.arrow-left:hover {
  color: #111;
  background-color: #bbb;
}

.moving-cover, .cart {
  position: fixed;
  right: 50px;
  top: 50px;
}

.moving-cover {
  width: 50px;
  height: 80px;
  background-color: #fff;
  opacity: 0;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  color: white;
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.cart:hover {
  opacity: 1;
}

.cart .cart-icon {
  font-size: 35px;
  margin-right: 10px;
}

.cart span {
  font-size: 20px;
}

.cart-page {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eee;
  background-color: rgba(17, 17, 17, 0.9);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cart-page.cartOpen {
  opacity: 1;
  pointer-events: initial;
}

.cart-page .panel {
  width: 75%;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-page .panel h2 {
  margin: 0;
  margin-bottom: 25px;
}

.cart-page .panel ul {
  padding: 0;
  list-style: none;
  max-height: 80%;
  overflow: hidden auto;
}

.cart-page .panel ul .message {
  color: #bbb;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-page .panel ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding-right: 25px;
  opacity: 0.8;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cart-page .panel ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.cart-page .panel ul li:hover .remove {
  opacity: 1;
  cursor: pointer;
}

.cart-page .panel ul li .remove {
  margin-right: 15px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cart-page .panel ul li .thumbnail {
  width: 52.5px;
  height: 70px;
  margin-right: 20px;
}

.cart-page .panel ul li .name {
  font-size: 17px;
  font-weight: normal;
}

.cart-page .panel ul li .price {
  margin-left: auto;
}

.cart-page .panel hr {
  margin: 20px 0;
}

.cart-page .panel .total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-right: 25px;
}
